<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.re-cast"
        versionCode = "10" 
        version     = "0.0.1" >
    <gap:plugin name="org.li8.inappbrowser" version="0.1" />
    <!-- versionCode is optional and Android only -->

    <name>Re-cast</name>

    <description>
        Et magasin for ukendt, men god radio. 
    </description>

    <author href="http://akkurator.dk" email="kenneth@akkurator.dk">
        Akkurator 
    </author>

</widget>